@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital@1&family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
$none:none;
$tit: "Fraunces", serif;
$en: "Lobster", sans-serif;
$basecolor:#252525;
$basecolor2:#dd4345;
// 헤더영역
html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
} 
body::-webkit-scrollbar{
  width: 12px;
  height: 12px;
  background-color: transparent !important;
}
body::-webkit-scrollbar-thumb{
  outline: none;
  border-radius: 10px;
  background-color: $basecolor2;
  /* box-shadow 색상은 지정 안했을 경우 기본적으로 color 값을 따라감 */
}
body::-webkit-scrollbar-track {
  background-color: #F6F3EA;
}
.wrap{
  background-color: #F6F3EA;
}
body.no-scroll .innerHeader.active{
  transform: none;
}
.en{
    font-family: $en;
}
.br{
  display: none;
}
.innerHeader{
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 100;
    padding: 20px 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    background: rgba(246, 243, 234, 0.8);
}
.active{
  transform: translateY(-100%);
}
h1{
    width: 100%;
    position: relative;
    z-index: 10;
}
h1 a{
    font-size: 40px;
    color: $basecolor2;
}
// 메뉴
.gnbwrap{
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: -2000%;
  transition: top 0.6s;
  background: rgba(246, 243, 234, 0.8);
  z-index: -1;
}
.gnbtop{
  top: 0;
}
.no-scroll{
  overflow: hidden;
}
.blur{
  filter: blur(10px);
}
.gnb{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gnb li{
  line-height: 1.5;
}
.gnb li a{
  font-size: 100px;
  display: block;
  text-transform: uppercase;
  color: $basecolor2;
}
.gnb li a::after{
  transition: 0.3s;
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: $basecolor2;
}
.gnb li a:hover::after{
  width: 100%;
}
.gnb li a:hover{
  padding-left: 20px;
}
.gnbtoggle{
  position: relative;
  width: 32px;
  height: 32px;
  border: 0;
  background: none;
  cursor: pointer;
  transform: translateY(10px);
}
.gnbtoggle::before{
  display: block;
  position: absolute;
  left: 0;
  width: 32px;
  height: 2px;
  background: $basecolor2;
  content: '';
  transition: transform 0.3s;
  top: 11px;
}
.gnbtoggle::after{
  display: block;
  position: absolute;
  left: 0;
  width: 32px;
  height: 2px;
  background: $basecolor2;
  content: '';
  transition: transform 0.3s;
  bottom: 11px;
}
.gnbtoggle.close::before{
  top: 15px;
  transform: rotate(-135deg);
}
.gnbtoggle.close::after{
    bottom: 15px;
    transform: rotate(135deg);
}
// 메인영역
.s_title{
    display: $none;
}
.intro{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 10;
}
.tit{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    color: $basecolor2;
    font-family: $tit;
    font-size: 200px;
    width: 100%;
    padding-left: 5%;
}
.tit span{
    display: inline-block;
}
.tit span:first-child{
    margin-bottom: 20px;
}
.tit span:last-child{
    font-style: italic;
}
    .tit.motion span{
      width: 100%;
        overflow: hidden;
        transform: translate3d(0,0,0) skewY(0deg);
    }
    .tit.motion span b{
      display: block;
      animation-name: txtAni;
      animation-duration: 1.3s;
    }
    @keyframes txtAni{
      0%{
          opacity: 0;
      }
      30%{
          opacity: 0;
          transform: translate3d(0,40px,0) skewY(8deg);
          transform-origin: top left;
      }
    } 
    .con02 > h2, .con03 > h2{
      display: none;
    }
    .b{
      font-family: 'Cormorant Infant', serif;
      font-style: italic;
    }
    .con02{
      padding-bottom: 100px;
      position: relative;
      z-index: 11;
    }
    .con02 .title, .con03 .title{
      width: 100%;
      height: 100vh;
      font-size: 170px;
      line-height: 0.9;
      text-align: center;
      padding-top: 40vh;
      box-sizing: border-box;
    }
    .img.motion{
      position: relative;
      animation-name: imgAni;
      animation-duration: 1s;
    }
    @keyframes imgAni{
      0%{
          transform: translateY(50px);
      }
      100%{
          transform: translateY(0);
      }
    }
    .img.motion::after{
      content: "";
      width: 100%;
      height: 0%;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      animation-name: mask;
      animation-duration: 1.2s;
    }
    @keyframes mask{
      0%{
          height: 90%;
      }
      100%{
          height: 0%;
      }
    }
    .title p{
      font-size: 150px;
      color: $basecolor2;
    }
    .worklist{
      width: 70%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      will-change:scroll-position, contents;
    }
    .worklist li{
      width: 45%;
      margin-top: 200px;
    }
    .worklist li:nth-of-type(2n){
      margin-top: 0;
    }
    .worklist li a{
      display: block;
      position: relative;
    }
    .txt.motion span{
      overflow: hidden;
      transform: translate3d(0,0,0) skewY(0deg);
    }
    .txt.motion span b{
    display: block;
    animation-name: txtAni;
    animation-duration: 1.3s;
    }
    @keyframes txtAni{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
        transform: translate3d(0,40px,0) skewY(8deg);
        transform-origin: top left;
    }
    } 
    .textBox h3{
      font-size: 35px;
      font-weight: normal;
      margin: 20px 0px 10px;
      color: $basecolor2;
    }
    .info{
      line-height: 25px;
    }
    .info span b{
      display: inline-block;
      color: #000000;
      font-family: "Noto Sans KR", sans-serif;
      font-style: normal;
      font-weight: 600;
    }
    .info p:last-child{
      float: right;
    }
    .worklist li img{
      width: 100%;
    }
    .imgBox{
      position: relative;
    }
    .imgBox img{
      transition: 0.5s;
    }
    .worklist li a:hover .imgBox img{
      filter: brightness(50%);
    }
    .worklist li a:hover .imgBox::before{
      opacity: 1;
      z-index: 2;
    }
    .worklist li a:hover .imgBox::after{
      width: 168px;
      height: 168px;
    }
    .imgBox::before{
      content: "";
      width: 168px;
      height: 168px;
      border-radius: 100%;
      border: 1px solid #fff;
      background: url(../image/readMore2.png);
      background-repeat: no-repeat;
      background-size: 35px;
      background-position: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      z-index: 1;
      transition: 0.5s;
      opacity: 0;
    }
    .imgBox::after{
      content: "";
      width: 0px;
      height: 0px;
      border-radius: 100%;
      background-color: #fff;
      background-image: url(../image/readMore3.png);
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      animation-name: spin;
      -webkit-animation-name: spin;
      animation-duration: 10s;
      -webkit-animation-duration: 10s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      animation-timing-function: linear;
      -webkit-animation-timing-function: linear;
      transition: 0.5s;
    }
    @-webkit-keyframes spin{
      0%{
          transform: translate(-50%, -50%) rotate(0deg);
      }
      100%{
          transform: translate(-50%, -50%) rotate(360deg);
      }
    }
    @keyframes spin{
      0%{
          transform: translate(-50%, -50%) rotate(0deg);
      }
      100%{
          transform: translate(-50%, -50%) rotate(360deg);
      }
    }

    .con03{
      width: 100%;
      text-align: center;
    }
    .con03 .title{
      z-index: 11;
      position: relative;
    }
    .con03_inner{
      width: 45%;
      margin: 0 auto;
    }
    .con03_inner ul li{
      margin-bottom: 80px;
    }
    .con03_inner ul li a{
      color: #fff;
      display: block;
      width: 100%;
      height: 100%;
      font-size: 110px;
      letter-spacing: -1px;
      font-weight: bold;
      transition: all 0.5s ease-in-out;
      opacity: 1;
      font-family: $tit;
      font-style: italic;
      text-align: center;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .fadeImg{
      position: fixed;
      top: 0;
      left: 0;
      width: 350px;
      height: 220px;
      object-fit: cover;
      filter: brightness(30%);
      opacity: 0;
    }
    .color{
      opacity: 0.7;
      transition: all 0.3s ease-in-out;
    }
    .color:hover{
      color: $basecolor2;
      font-size: 115px;
    }
// 푸터영역
footer{
    width: 100%;
    height: 100vh;
    position: relative;
    color: #fff;
}
footer .textwrap{
    position: absolute;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    font-size: 100px;
    line-height: 1;
    letter-spacing: -1px;
    top: 50%;
    transform: translateY(-50%);
}
.textwrap .title{
    font-size: 20px;
    margin-bottom: 30px;
    padding-left: 15px;
}
.textwrap .contact{
    margin-bottom: 20px;
}
.textwrap a{
    display: block;
    margin-top: -30px;
}
footer .bottom{
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
    font-size: 30px;
    letter-spacing: -1px;
    color: #fff;
}
.mail{
  color: #fff;
}
.sns{
    display: flex;
}
.sns li{
    margin-right: 30px;
}
.sns li a{
  color: #fff;
}

@media screen and (max-width: 1300px){
  .tit{
    font-size: 150px;
  }
  .gnb li a{
    font-size: 70px;
  }
  .imgBox::after, .imgBox::before{
    display: none;
  }
  .worklist li a:hover .imgBox img{
    filter: none;
  }
  .color:hover{
    color: #fff;
    font-size: 80px;
  }
  .color{
    font-size: 80px;
  }
  .fadeImg{
    display: none;
  }
  .mail{
    font-size: 90px;
  }
}
@media screen and (max-width: 1024px){
  .tit{
    font-size: 130px;
  }
    .con02 .worklist{
        width: 90% !important;
    }
    .gnb li a{
      font-size: 60px;
    }
    .gnb li a::after{
      display: none;
    }
    .gnb li a:hover{
      padding-left: 0px;
    }
    .mail{
      font-size: 70px;
    }
}



@media screen and (max-width: 800px){
  .innerHeader{
    padding: 20px 5%;
  }
  .tit{
    font-size: 100px;
  }
  .gnb li a {
    font-size: 50px;
  }
  .tit span:first-child {
    margin-bottom: -10px;
}
  .title p {
    font-size: 100px;
  }
  .worklist li{
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .textBox h3{
    font-size: 28px;
}
  .textwrap .contact {
    margin-bottom: 30px;
  }
  .textwrap .title {
    padding-left: 0px;
  }
  .color{
    font-size: 60px;
  }
  .color:hover{
    font-size: 60px;
  }
  .contact > span{
    font-size: 60px;
  }
  .textwrap a {
    display: block;
    margin-top: -30px;
    font-size: 45px;
  }
  .sns li{
    font-size: 24px;
  }
  .copyright{
    text-align: right;
    font-size: 24px;
  }
}
@media screen and (max-width: 430px){
  .tit{
    font-size: 80px;
    transform: translateY(-50%);
  }
  .gnb{
    top: 50%;
  }
  .a,.b{
    font-size: 80px !important;
  }
  .textwrap a {
    font-size: 38px;
  }
  .color{
    font-size: 40px;
  }
  .color:hover{
    font-size: 40px;
  }
  .info span b {
    font-size: 14px;
  }
}
@media screen and (max-width: 390px){
  .innerHeader{
    height: 60px;
    padding: 13px 5%;
  }
  h1 a {
    font-size: 30px;
}
h2.tit{
  top: 50%;
  transform: translateY(-50%);
  
}
.gnbtoggle {
  width: 32px;
  height: 32px;
  border: 0;
  background: none;
  cursor: pointer;
  transform: translateY(0px);
}
  .br{
    display: block;
  }
  .tit{
    font-size: 60px;
    padding-left: 5%;
    line-height: 70px;
  }

.title p {
  font-size: 60px;
}
.skill li, .mask li {
  font-size: 45px;
}
footer .textwrap {
  padding: 0 0 0 5%;
  top: 50%;
  transform: translateY(-50%);
}
.textwrap a {
  display: block;
  margin-top: -30px;
  font-size: 30px;
}
.sns li a{
  font-size: 20px;
}
.copyright{
  font-size: 20px;
}
.info span b {
  font-size: 13px;
}
}

// 아이폰미니
@media screen and (max-width: 360px){
  .tit{
    transform: translateY(-75%);
  }
  .gnb{
    top: 40%;
  }
  .textBox h3{
    font-size: 22px;
}

}